* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: rgb(253, 179, 56);
}

/*index.html */

.intro {
  font-size: 45;
  color: white;
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(255, 248, 220, 0.3);
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  border: 3px white dotted;
  border-radius: 15px;
  background-color: rgb(2, 81, 150);
  position: sticky;
  text-align: center;
  font-size: 20;
  font-family: 'Press Start 2P', cursive;
  color: white;
  top: 100%;
  height: 50px;
  transfrom: translate(0, -100%);
  margin: 0 auto;
  padding: 5px;
}

.newPosition {
  top: 0%;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 10;
}

.intro p {
  font-family: 'Press Start 2P', cursive;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: auto;
}

.nav li{
  display: inline;
  float: left;
}
.nav a{
  text-transform: uppercase;
  display: block;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 15px;
  text-decoration: none;

}

.nav a:hover{
  border: 1px white solid;
}

.fly {
  animation: flyUp 1.5s;
  top: 0%;
  position: fixed;
  width: 100%;
  border-radius: 0px;
}

.nav p{
  position: relative;
  font-family: 'Press Start 2P', cursive;
  top: auto;
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes flyUp {
  from {top: 105%;}
  to {top: 0%}
}


/* about. html */

.grid-container {
  display: grid;
  position: absolute;
  left: 50%;
  top: 100px;
  height: auto;
  width: 700px;
  transform: translateX(-50%);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  grid-template-areas: " Image Description " "Education Education" "Skills Skills" "Experience Experience";
  background-color: rgba(255, 248, 220, 0.3);
  grid-gap: 10px 10px;
  justify-content: center;
  align-content: center;
  font-family: 'Lekton', sans-serif;
  color:white;
}

.Image { grid-area: Image; display: flex; align-items: center; justify-content: center; margin:0; padding:0;}
.Image img {
  border-radius: 50%;
  height: 200px;
  width: 186px;
  border: 5px solid #FFFF;
}


.Description {
  grid-area: Description;
  display: inline;
  text-align: left;

}

.Description p{
  line-height: 15px;
}


.Education { grid-area: Education;
margin-left: 10px;
margin-right: 10px;
background-color: rgba(255, 255, 170, 0.3);
}

.Education h1 {
  margin: 5px;
}

/* timeline; taking reference from https://www.youtube.com/watch?v=X6aMWDDJlJg*/

.timeline {
  position: relative;
  margin: 50px auto;
  width: 650px;
}

.timeline::before{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  /* color of timeline */
  background:  rgb(2, 81, 150);

}

.timeline ul{
  margin:0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  padding: 20px 40px;
  width: 50%;
  box-sizing: border-box;

}

.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.content{
  padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgba(253, 179, 56,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(253, 179, 56,0.2);
}
.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(253, 179, 56,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(253, 179, 56,0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgb(2, 81, 150);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
  line-height: 15px;
  font-size: 15px;
}

.timeline ul li:nth-child(odd) .time{
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  border-radius: 18px;
  background: rgba(253, 179, 56,1);
  color: #fff;
  box-shadow: 0 0 0 3px rgba(253, 179, 56,0.3);
}
.timeline ul li:nth-child(even) .time{
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  border-radius: 18px;
  background: rgba(253, 179, 56,1);
  color: #fff;
  box-shadow: 0 0 0 3px rgba(253, 179, 56, 0.3);
}




.Skills {grid-area: Skills; background-color: rgba(255, 255, 170, 0.3); margin-left: 10px; margin-right: 10px; box-sizing: border-box; padding: 0;}
/* Bar chart for representing skills; taking reference from this codePen https://codepen.io/vajkri/pen/NxzZwL */

.bar-chart {
  width: 75%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.lines .line {
  background: rgba(2, 81, 150, 0.6);
  height: 100%;
  width: 2px;
  position: absolute;
  display: inline-block;
}

.l--0 {
  position: relative;
  left: 0%;
}

.l--25 {
  position: relative;
  left: 25%;
}

.l--50 {
  position: relative;
  left: 50%;
}

.l--75 {
  position: relative;
  left: 75%;
}

.l--100 {
  position: relative;
  left: calc(100% - 1%);
}

.line_label {
  display: block;
  width: 100px;
  text-align: center;
  font-size: 13px;
  position: relative;
  bottom: -100%;
  left: -50px;

  &.title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.chart_bar {
  background-color: rgb(253, 179, 56);
  list-style: none;
  margin: 2px;
  font-family: 'Lekton', sans-serif;
  box-shadow: 0 0 0 3px rgba(253, 179, 56, 0.3);
  border-radius: 5px;
}
.Skills h1 {
  margin: 5px;
}

/* language session */
.language {
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.china, .uk, .japan {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  visibility: hidden;
  font-weight: bold;
  color: rgb(2, 81, 150);
  transform: translate(-50%, -50%);
}

.china:hover .logo{
  opacity: 0.3;
}

.japan:hover .logo{
  opacity: 0.3;
}
.uk:hover .logo{
  opacity: 0.3;
}

.china:hover .text {
  visibility: visible;
}

.uk:hover .text {
  visibility: visible;
}
.japan:hover .text {
  visibility: visible;
}
.Experience { grid-area: Experience; }

.about {
  box-sizing: border-box;
  position: absolute;

  grid-template: 30% 50%/30% auto;
  grid-column-gap: 50px;
  margin-left: 20%;

}

/* project.html */
.projects {
  color: rgb(2, 81, 150);
  display: grid;
  margin-top: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 248, 220, 0.3);
  justify-content: center;
  align-content: center;
  font-family: 'Lekton', sans-serif;
  font-size: 18px;
  padding: 10px 25px;
  width: 1060px;
}

.sibling-fade span {
  padding: 0 1rem;
  transition: opacity 0.2s;
}
.sibling-fade:hover span:not(:hover) {
  opacity: 0.5;
}

#itemlist {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-gap: 10px;
}


.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:  500px;
  /* height: 100px; */
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  opacity: 0.3;
}

.wholecard{
  margin: 0;
  padding: 0;
  position: relative;
}

.wholecard:hover .text{
  visibility: visible;
  top: 50%
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  background-color: #f7ff00;
}


.card-container{
  padding: 2px 16px;
}

.card img {
  width: 500px;
  height: 250px;
}
